<header>
    <div class="container">
        <h1 class="logo">MyBlog</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Create Post</a></li>
                <li><a href="/dashboard">Your Posts</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>